@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin b-desktop {
  @media screen and (min-width: 1500px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body,
html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  background-image: url(./../assets/img/bg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  height: 100%;
  width: 100%;
  @include desktop {
    padding: 100px 0;
    gap: 30px;
    background-position: center;
  }
  @include b-desktop {
    padding: 230px 0;
  }
  h1 {
    padding: 0 50px;
    margin: 0;
    @include desktop {
      padding: 0 90px;
    }
    .logo {
      max-width: 454px;
      width: 100%;
    }
  }
  /*.ancor {
    padding: 0px 25px;
    border: #fff 3px solid;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-bottom: 20px;
    background: linear-gradient(to bottom right, #add100 23%, #88992f 50%)
        bottom right / 50% 50% no-repeat,
      linear-gradient(to bottom left, #add100 23%, #88992f 50%) bottom left /
        50% 50% no-repeat,
      linear-gradient(to top left, #add100 23%, #88992f 50%) top left / 50% 50%
        no-repeat,
      linear-gradient(to top right, #add100 23%, #88992f 50%) top right / 50%
        50% no-repeat;
    box-shadow: 0 0 8px #aaaaaa;
    &:hover {
      text-decoration: none;
      box-shadow: 0 0 8px #000000;
    }

    @include desktop {
      border: #fff 4px solid;
      padding: 6px 25px;
    }
    img {
      width: 25px;
      @include desktop {
        width: 35px;
      }
    }
    .desc {
      color: #000;
      font-size: 20px;
      font-weight: 500;
      margin: 0;
      padding: 0;
      @include desktop {
        font-size: 35px;
      }
    }
  }*/
  .andor2 {
    width: max-content;
    margin: 0 auto;
    text-align: center;
    &:hover {
      text-decoration: none;
    }
    img {
      border: transparent solid 0.2px;
      border-radius: 55px;
      box-shadow: 0 0 8px black;
      width: 200px;
      @include desktop {
        width: 255px;
      }
    }
  }
  .container-clocks {
    display: flex;
    gap: 0;
    @include desktop {
      margin-top: 30px;
    }

    .clocks {
      width: 100px;
      @include tablet {
        width: 150px;
      }
      @include desktop {
        // width: auto;
      }
    }
  }
}
